/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Configuração estática baseada em 1080x1920 */
html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(29, 31, 31, 0.097);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

.logo {
    width: 35vw;
    /* Proporcional à largura */
    height: 35vw;
    border-radius: 50%;
    margin-bottom: 1vh;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 6vw;
    color: #333;
    margin-bottom: 1vh;
}

.main {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.editar-perfil {
    background: #bfbebe;
    color: #000000;
    border: none;
    padding: 2vw 15vw;
    border-radius: 50px;
    cursor: pointer;
    font-size: 4vw;
    margin-bottom: 2.5vh;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.editar-perfil:hover {
    background: #969696;
}

.notificacoes svg {
    margin-bottom: 2.5vh;
    margin-left: 1vh;
    width: 7vw;
    height: 7vw;
    color: #666;
}

/* Formulário */
form input,
form textarea {
    width: 100%;
    text-align: left;
    padding: 2vw;
    border-radius: 10px;
    margin-bottom: 1.5vh;
    height: 5vh;
    border: 0.3vw solid #000000;
    font-size: 4vw;
    color: #333;
    background: #f9f9f9;
}

.description {
    height: 15vh;
    resize: none;
    margin-bottom: 6vh;
    border-radius: 10px;
}

form .linha {
    display: flex;
    gap: 1vw;
}

form .linha input {
    width: 50%;
}

textarea {
    height: 15vh;
    resize: none;
}

/* Botões */
.botoes {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.carregar-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.52vw;
    background: #bfbebe;
    color: #000000;
    border: none;
    padding: 2vw 15vw;
    border-radius: 50px;
    font-size: 3vw;
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.carregar-cv:hover {
    background: #969696;
}

.carregar-cv svg {
    width: 4vw;
    height: 4vw;
    color: #000000;
}

.publicar {
    width: 100%;
    background: orange;
    color: #000000;
    border: none;
    padding: 2vw 35vw;
    border-radius: 50px;
    font-size: 4vw;
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.publicar:hover {
    background: #d1881f;
}